section
  &.problem-1
    margin 20px auto 20px auto
    background #fcfcfc
    width 250px
    border-radius 15px
    overflow hidden
    div
      padding 10px 20px
  &.problem-2,
  &.problem-3,
  &.problem-5,
  &.problem-6
    margin 90px 20px 20px 20px
    background #fcfcfc
    border-radius 15px
    padding 10px 20px
    color #333
  &.problem-4
    color #333
    width 150px
    background #fcfcfc
    border-radius 15px
    margin 0 auto 20px auto
    .multiple-header
      font-weight bold
      padding 10px 20px
      border-bottom 1px solid #ececec
      border-top 1px solid #ececec
      &:nth-child(1)
        border-top none
    .multiple-children
      div
        padding 10px 20px
  &.problem-5,
  &.problem-3
    margin-top 0
    .heading
      font-weight bold
      border-bottom 1px solid #333333
      padding 10px 20px
  &.problem-6
    width 150px
    margin 0 auto 20px auto
